  
doctype html
html(lang="en")
  head
    title Is your username stored in cookie?
  body
    if name 
      h2 Welcome, #{name}!
    else
      form(action='/trackName', method='get')
        label Enter your name here <br>
          input(type='text', name='username')
        button(type='submit') Submit